
       {% extends 'base.html'%}
       {% block content %}
               <div class='col-6 mx-auto my-5'>
               <div class="card broder-info p-5"  style="box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);">         
                    <div class="h4 alert alert-success text-center" role="alert" style="box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);">Login Page</div>
       
          <form action="." method="POST" name="loginform" onsubmit="return validateForm()">
               {% csrf_token %} 
               <div class='col-6 mx-auto my-5'>
               <div class="mb-3">
                 <label for="username" class="form-label">username</label>
                 <input type="text" class="form-control" id="username" name="user_name"   aria-describedby="emailHelp" style="box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25); ">
                 
               </div>
               <div class="mb-3">
                 <label for="password" class="form-label">Password</label>
                 <input type="password" class="form-control" name="password" id="password" style="box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);" >
               </div></BR>
              
               <button type="submit" class="btn btn-primary" style="box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);">LOGIN</button>
             </form>
           </div>
                  
        
          <script>
            function validateForm() {
              var name =  document.forms["loginform"]["user_name"];
              var pass = document.forms["loginform"]["password"] 
              
              if (name.value == "") 
              { 
                    alert("Please enter username and password"); 
                    name.focus();
                    return false;
              }
              re = /[0-9]/;
              if(!re.test(password.value)) {
              alert("Error: password must contain at least one number (0-9)!");
              pass.focus();
              return false;

            }
            return true;
      }
        </script> 







{% endblock content %}
       
       
       
       
       